@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html {
  height: 100%;
}

body {
  padding-top: 50px;
  height: 100%;
}

.navbar-default{
  background-color: rgba(255,255,255,0.9);
  border-color: #e7e7e7;
}

.new_information{
  background: url("../images/header.jpg");
  width: 100%;
  height: 450px;
}

.margintop{
  margin-top: 50px;
}

.main{
  min-height: 100%;
  //margin: 0 auto -52px;
}
.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
  border-bottom: 1px solid #d2d6de;
  width:100%;
}

.img_hover{
  //height: 140px;
  height: 51.5%;
  //width: 228px;
  max-width: calc(100% - 2px);
  background-color: rgba(0,0,0,0);
  position: absolute;
  left: 1px;
  top: 1px;
  /*opacity: 0;*/
}

.courseimage{
  margin-left: 1px;
  margin-top: 1px;
  max-width:calc(100% - 2px);
}

.course_list li{
  list-style-type: none;
  border: 1px solid #eaeaea;
  background-color: #FFFFFF;
  width: 23%;
  height: 300px;
  float: left;
  margin-right: 26px;
  margin-bottom: 20px;
  position:relative;
}

.course_list{
  margin: auto;
}
.talk_list li{
  position:relative;
}

.img_hover:hover{
  /*opacity: 1;*/
  background-color: rgba(0,0,0,0.5);
  transition: all 0.5s;
}
.img_hover:hover .kcjj{
  color: rgba(255, 255, 255, 1);
  margin-top: 55px;
  transition: all 0.2s;
}

.img_hover .kcjj{
  /*color: #FFF;*/
  color: rgba(255, 255, 255, 0);
  width: 85%;
  margin: auto;
  margin-top: 80px;
}


.courseinfo{
  height: 25px;
  width: 28%;
  color: #FFF;
  background-color: #1caaea;
  position:absolute;
  right: 0px;
  top: 0px;
  //float: right;
  opacity: 1;
}
.courseinfo p{
  margin-left: 6px;
  margin-top: 2px;
}
.coursetime{
  height: 25px;
  //width: 228px;
  width:100%;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  position:absolute;
  left: 0px;
  bottom: 0px;
  opacity: 1;
}
.coursetime p{
  margin-top: 2px;
  margin-left: 12px;
}
.course-name, .course-name-ch{
  font-size: 12px;
}
.course-title, .course-info{
  text-align: center;
}
.img_hover:hover .courseinfo{
  opacity: 0;
  transition: all 0.2s;
}
.img_hover:hover .coursetime{
  opacity: 0;
  transition: all 0.2s;
}
.imgarea{
  height: 310px;
  background-color: #f3f3f3;
}

@import url("tinyScreen.css") screen and (max-device-width: 400px);
@import url("smallScreen.css") screen and (min-width: 400px) and (max-device-width: 600px);